alias cls=clear
alias ll="ls -lah"
alias ipconfig=ifconfig
alias catless="cat $1 | less"
alias ..="cd .."
alias ...="cd ../.."
alias realias="source ~/.aliases"
alias aliases="cat ~/.aliases"
alias truncate="cp /dev/null"
alias flushdns="dscacheutil -flushcache"
alias lll="ll | less"
alias rf="rm -rf"
alias lshosts="cat /etc/hosts"
alias restart_syslog="launchctl unload /System/Library/LaunchDaemons/com.apple.syslogd.plist; sleep 1; launchctl load /System/Library/LaunchDaemons/com.apple.syslogd.plist"
alias quickstart="sudo python -m SimpleHTTPServer 80"
alias jpp='python -m json.tool | pygmentize -l json | less'
alias lnav="nocorrect lnav"
alias es="/Applications/Emacs.app/Contents/MacOS/Emacs --daemon"
alias e="nocorrect emacsclient -t"
alias ec="nocorrect ec"
# See https://stevenharman.net/git-clean-delete-already-merged-branches
alias git-clean="$ git branch --merged master | grep -v "\* master" | xargs -n 1 git branch -d"
