alias cls=clear
alias ipconfig=ifconfig
alias catless="cat $1 | less"
alias ..="cd .."
alias ...="cd ../.."
alias realias="source ~/.aliases"
alias aliases="cat ~/.aliases"
alias truncate="cp /dev/null"
alias flushdns="dscacheutil -flushcache"
alias rf="rm -rf"
alias lshosts="cat /etc/hosts"
alias restart_syslog="launchctl unload /System/Library/LaunchDaemons/com.apple.syslogd.plist; sleep 1; launchctl load /System/Library/LaunchDaemons/com.apple.syslogd.plist"
alias quickstart="sudo python -m SimpleHTTPServer 80"
alias lnav="nocorrect lnav"
# See https://stevenharman.net/git-clean-delete-already-merged-branches
alias git-clean="$ git branch --merged master | grep -v "\* master" | xargs -n 1 git branch -d"
alias lrb="lein with-profiles +rebl,+socket-rebl,+socket-prepl repl"
alias lrbk="lein with-profiles +rebl,+socket-rebl,+socket-prepl,+kaocha repl"
alias lsb="lein with-profiles +socket,+socket-prepl repl"
alias lsbk="lein with-profiles +socket,+socket-prepl,+kaocha repl"
