[user]
	name = Daniel De Aguiar
	email = ddeaguiar@gmail.com

[alias]
	co = checkout
	st = status
	br = branch
	rollback = reset --hard HEAD
	ci = commit
	staged = diff --cached
	cp = cherry-pick
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	bl = blame -w
	ll = log --oneline --graph --decorate
 	deleteable = !"git branch -a --merged master | grep -v origin/master"
[apply]
	whitespace = nowarn

[core]
  legacyheaders = false
	autocrlf = input
	excludesfile = /Users/ddeaguiar/.gitignore_global
	editor = vim
	safecrlf = true
[repack]
	usedeltabaseoffset = true

[color]
	ui = auto
	diff = auto
	sh = auto

[help]
	autocorrect = 10
[push]
	default = tracking
[rerere]
	enabled = 1
[branch]
	autosetupmerge = always
	autosetuprebase = remote
[commit]
	template = /Users/ddeaguiar/.git-commit-template
[mert]
[merge]
	tool = opendiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[lob]
	abbrevcommit = true
[credential]
	helper = osxkeychain
[pull]
	ff = only
