#JAVA_HOME=$HOME/java_1.4
# Grep
export GREP_OPTIONS='--color=auto' 
export GREP_COLOR='6;35'
export IRB_COLOR=true
# *NIX Editors
export EDITOR="vim"

# Evented Mongrel
export EVENT=1

# Bash History Control
export HISTCONTROL=erasedups
export HISTSIZE=5000

export LC_CTYPE=en_US.UTF-8
export HOSTFILE='/etc/hosts'
export RC_ARCHS=x86_64
export CDPATH=.:$HOME:$HOME/src/ncl:$HOME/src/ncl/drupal/sites/all/themes:$HOME/src/ncl/drupal/sites/all/modules
export TM_DRUPAL_VERSION="6"
export TM_DRUPAL_API="http://drupalcontrib.org"
export NODE_PATH="/usr/local/lib/node"
export PYTHONPATH=~/lib/python2.7/site-packages
